<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Vue basics</title>
	<link rel="stylesheet" href="main.css">
</head>

<body>

	<div id="app">
		<input type="text" v-on:input="changeTitle" />
		<h1 v-once>{{title}}</h1>
		<p>{{title}}</p>
		<p v-once>{{sayHello()}}
			<a v-bind:href="link">Google</a>
		</p>
		<p v-html="finishedLink"></p>
	</div>
	<hr>
	<hr>


	<div id="counter">
		<button v-on:click="incrementCounter">Increment Counter</button>
		<button v-on:click="counter++">Increment Counter directly</button>
		<button v-on:click="decrementCounter">Decrement Counter</button>
		<button v-on:click="stepUp(2, $event)">Step up Counter by 2</button>
		<p>{{counter}}</p>
		<!-- Event modifiers -->
		<p v-on:mousemove="updateCoords">Coordinates: {{x}} | {{y}}
			<span v-on:mousemove="dummy">Dead spot?</span>
			<span v-on:mousemove.stop="">Another Dead spot?</span>
		</p>
		<!-- Key modifiers -->
		<input type="text" v-on:keyup.enter="alertMe">
		<input type="text" v-on:keyup.space="alertMe">
	</div>

	<hr>
	<hr>

	<div id="model">
		<button v-on:click="counter++">Increment Counter directly</button>
		<button v-on:click="counter--">Decrement Counter</button>
		<p>{{counter}}</p>
		<p>Result: {{output}}</p>
		<input type="text" v-model="name">
		<p>{{name}}</p>
	</div>

	<!-- Shorthands -->

	<div id="shorts">
		<button @click="counter++">Increment Counter directly</button>
		<a :href="link">Google</a>
		<!-- bind can be used shorthand as : -->
	</div>

	<div id="styled">
		<div class="demo" @click="attachRed = !attachRed" :class="{red: attachRed}"></div>
		<div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
		<div class="demo" :class="color"></div>
		<div class="demo" :style="{backgroundColor: color}"></div>

		<hr>
		<input type="color" v-model="color">
		<hr>
	</div>

	<div id="conditional">
		<p v-if="show">Can be seen</p>
		<p v-else>Can bee seen too</p>
		<template v-if="show">
			<h4>Template heading</h4>
			<p>Inside template</p>
		</template>
		<p v-show="show">See me</p>
		<button @click="show = !show">Switch</button>
	</div>

	<div id="loop">
		<ul>
			<li v-for="(ingredient, index) in ingredients" :key="ingredient">{{ ingredient }} ({{ index }})</li>
		</ul>
		<template v-for="person in persons">
			<h3>{{ person.name }}</h3>
			<h3>{{ person.age }}</h3>
		</template>
		<ul>
			<li v-for="person in persons">
				<div v-for="(value, key, index) in person">
					{{ key }} : {{ value }} ({{ index }})
				</div>
			</li>
		</ul>
		<span v-for="n in 10">{{ n }}</span>
	</div>

	<script src="./vue.js"></script>
	<script src="./main.js"></script>
</body>

</html>